In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Fetch the webpage content
url = 'https://www.ssa.gov/oact/babynames/decades/names1920s.html'
response = requests.get(url)
webpage = response.content

# Step 2: Parse the HTML
soup = BeautifulSoup(webpage, 'html.parser')

# Step 3: Extract the table data
table = soup.find('table', {'class': 't-stripe'})
rows = table.find_all('tr')

data = []
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele])

# Remove empty rows (if any)
data = [row for row in data if row]

# Step 4: Convert to DataFrame
columns = ['Rank', 'Male Name', 'Number of Males', 'Female Name', 'Number of Females']
df = pd.DataFrame(data, columns=columns)

# Step 5: Save DataFrame to CSV
df.to_csv('C:/Users/Jeremiah/Homework/New folder/baby_names_1920s.csv', index=False)

# Step 6: Display the DataFrame
df.head()

  Rank Male Name Number of Males Female Name Number of Females
0    1    Robert         576,374        Mary           701,754
1    2      John         564,053     Dorothy           368,874
2    3     James         515,302       Helen           290,403
3    4   William         512,402       Betty           283,096
4    5   Charles         298,030    Margaret           245,009

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the base URL and the range of decades
base_url = 'https://www.ssa.gov/oact/babynames/decades/names{}s.html'
decades = range(1910, 2020, 10)

# Loop through each decade, scrape the data, and save it to a CSV file
for decade in decades:
    url = base_url.format(decade)
    response = requests.get(url)
    webpage = response.content
    
    # Parse the HTML
    soup = BeautifulSoup(webpage, 'html.parser')
    
    # Extract the table data
    table = soup.find('table', {'class': 't-stripe'})
    rows = table.find_all('tr')
    
    data = []
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])
    
    # Remove empty rows (if any)
    data = [row for row in data if row]
    
    # Convert to DataFrame
    columns = ['Rank', 'Male Name', 'Number of Males', 'Female Name', 'Number of Females']
    df = pd.DataFrame(data, columns=columns)
    
    # Save DataFrame to CSV
    filename = f'C:/Users/Jeremiah/Homework/New folder/baby_names_{decade}s.csv'
    df.to_csv(filename, index=False)
    
    # Display a message indicating the progress
    print(f'Saved baby names for the {decade}s to {filename}')

# Display the first few rows of the last DataFrame as a check
df.head()

Saved baby names for the 1910s to C:/Users/Jeremiah/Homework/New folder/baby_names_1910s.csv
Saved baby names for the 1920s to C:/Users/Jeremiah/Homework/New folder/baby_names_1920s.csv
Saved baby names for the 1930s to C:/Users/Jeremiah/Homework/New folder/baby_names_1930s.csv
Saved baby names for the 1940s to C:/Users/Jeremiah/Homework/New folder/baby_names_1940s.csv
Saved baby names for the 1950s to C:/Users/Jeremiah/Homework/New folder/baby_names_1950s.csv
Saved baby names for the 1960s to C:/Users/Jeremiah/Homework/New folder/baby_names_1960s.csv
Saved baby names for the 1970s to C:/Users/Jeremiah/Homework/New folder/baby_names_1970s.csv
Saved baby names for the 1980s to C:/Users/Jeremiah/Homework/New folder/baby_names_1980s.csv
Saved baby names for the 1990s to C:/Users/Jeremiah/Homework/New folder/baby_names_1990s.csv
Saved baby names for the 2000s to C:/Users/Jeremiah/Homework/New folder/baby_names_2000s.csv
Saved baby names for the 2010s to C:/Users/Jeremiah/Homework/New folder/baby_names_2010s.csv

  Rank Male Name Number of Males Female Name Number of Females
0    1      Noah         183,258        Emma           194,988
1    2      Liam         173,939      Olivia           184,487
2    3     Jacob         163,197      Sophia           181,091
3    4   William         159,893    Isabella           170,491
4    5     Mason         157,833         Ava           155,802

In [21]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# URL for the baby names data
url = "https://www.ssa.gov/oact/babynames/top5names.html"

# Fetch the HTML content
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Extract the table data
table = soup.find("table")
rows = table.find_all("tr")[1:]  # Skip the header row

# Initialize lists to store data
years = []
female_names = []
male_names = []

# Parse the table rows
for row in rows:
    cols = row.find_all("td")
    if len(cols) >= 6:
        year = cols[0].text.strip()
        female_name1 = cols[1].text.strip()
        female_name2 = cols[2].text.strip()
        female_name3 = cols[3].text.strip()
        female_name4 = cols[4].text.strip()
        female_name5 = cols[5].text.strip()
        male_name1 = cols[6].text.strip()
        male_name2 = cols[7].text.strip()
        male_name3 = cols[8].text.strip()
        male_name4 = cols[9].text.strip()
        male_name5 = cols[10].text.strip()

        years.append(year)
        female_names.append(f"{female_name1}, {female_name2}, {female_name3}, {female_name4}, {female_name5}")
        male_names.append(f"{male_name1}, {male_name2}, {male_name3}, {male_name4}, {male_name5}")

# Create a DataFrame
df = pd.DataFrame({
    "Year": years,
    "Female Names": female_names,
    "Male Names": male_names
})

# Write to CSV
df.to_csv("C:/Users/Jeremiah/Homework/New folder/2top_baby_names.csv", index=False)
print("Data saved to top_baby_names.csv")

Data saved to top_baby_names.csv

In [28]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# URL for the baby names data
url = "https://www.ssa.gov/oact/babynames/top5names.html"

# Fetch the HTML content
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Extract the table data
table = soup.find("table")
rows = table.find_all("tr")[1:]  # Skip the header row

# Initialize lists to store data
years = []
female_names = []
male_names = []
ranks = []  # New list for ranks

# Parse the table rows
for row in rows:
    cols = row.find_all("td")
    if len(cols) >= 11:
        year = cols[0].text.strip()
        female_name1 = cols[1].text.strip()
        female_name2 = cols[2].text.strip()
        female_name3 = cols[3].text.strip()
        female_name4 = cols[4].text.strip()
        female_name5 = cols[5].text.strip()
        male_name1 = cols[6].text.strip()
        male_name2 = cols[7].text.strip()
        male_name3 = cols[8].text.strip()
        male_name4 = cols[9].text.strip()
        male_nmae5 = cols[10].text.strip()

        years.append(year)
        female_names.append(f"{female_name1}, {female_name2}, {female_name3}, {female_name4}, {female_name5}")
        male_names.append(f"{male_name1}, {male_name2}, {male_name3}, {male_name4}, {male_name5}")

        # Add ranks (1 to 5) to the list
        ranks.extend([1, 2, 3, 4, 5])

# Create a DataFrame
df = pd.DataFrame({
    "Year": years,
    "Rank": ranks,  # New column for ranks
    "Female Names": female_names,
    "Male Names": male_names
})

# Write to CSV
df.to_csv("top_baby_names_with_ranks.csv", index=False)
print("Data saved to top_baby_names_with_ranks.csv")

ValueError: All arrays must be of the same length

In [ ]:
import requests
from bs4 import BeautifulSoup
import csv

url = 'https://www.behindthename.com/names/usage/all-biblical'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')
names = soup.find_all('span', class_='listname')

with open('biblical_names.csv', 'w', newline='', encoding='utf-8') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['Name'])  # Write the header row
    for name in names:
        writer.writerow([name.text])

print("Names have been successfully scraped and saved to 'biblical_names.csv'")